.airportsPagination li button {
    margin: 5px;
}

.airportsPagination {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.last-button {
    margin-right: 50px;
}
