.button-container {
    background-color: rgb(248, 246, 246);
    padding: 10px;
    justify-self: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.header-title {
    font-weight: 600;
    margin-left: 10px;
    margin-top: 20px;
}

.footer {
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: white;
    box-shadow:  0 0 1em 0 rgba(0, 0, 0, 0.15)
}

.footer-container {
    display: flex;
}

@media(max-width: 576px) {
    .footer-container {
        display: inline-block;
    }
}