.thead {
  background: #efefef;
  border-bottom: 2px solid #bbb;
}

.table-hover tbody tr:hover td {
  background: #a8d1ff;
}

.item-num {
  color: #bbb;
  width: 10px;
}

.form-check-input {
  height: 1.4rem;
  width: 1.4rem;
}
