@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.availabilityForm {
  padding-bottom: 70px;
}

.availabilityTable {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  width: 100%;
}

.availabilityTable td {
  min-width: 39px;
}

td.availabilityCalendar__weekend {
  background-color: #ffbe5c;
}

td.availabilityCalendar__empty {
  background-color: #fff;
}

.availabilityTable tr:first-child {
  text-align: center;
  background-color: #ccc;
}

.availabilityTable tr:nth-child(2) {
  text-align: center;
  background-color: #ffdf7f;
}

.availabilityTable tr:not(:first-child) {
  font-size: 10px;
  line-height: 10px;
  color: #555555;
}

.availabilityTable button {
  height: 25px;
  width: 20px;
  text-align: center;
  border: none;
  background-color: #fff;
  border: 0.5px solid #ccc;
  border-radius: 3px;
}

.legend {
  display: flex;
  align-items: center;
}

.legend__available,
.legend__partial,
.legend__not {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.legend__available {
  background-color: #bbfdbb;
}

.legend__partial {
  background-color: #efef76;
}

.legend__not {
  background-color: #ef7676;
}

.availabilityMsg {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: rgba(39, 160, 65, 0.89);
  opacity: 0;
  z-index: -1;
  transition: all ease-in-out 2s;
}

.availabilityMsg > h5 {
  padding: 0;
  margin: 0;
  padding-left: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.activeAvailabilityMsg {
  opacity: 1;
  z-index: 10;
}
